// Custom CSS styles go here (not in override.styl, which is only for overriding those specific properties. See: https://vuepress.vuejs.org/default-theme-config/#simple-css-override)

.custom-block.tip {
	background-color: #FAF7F8;
	border-color: #a50034;
}
.custom-block.warning {
	background-color: #C9EAF4;
	border-color: #50badd;
	color: #014E66;
	.custom-block-title{
		color: #014E66;
	}
}
